[features]
seeds = false
skip-lint = false
[programs.localnet]
solana_program_edu = "3WnkE7WM2yM6fPL3FtV4geVXxFq6FLm86kMvP9mrwdg8"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "/home/leopham/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
